.recent-page-container {
    display: flex;
    max-width: 900px;
    margin: 20px auto;
    padding: 0 30px;
    justify-content: space-between;
}

.recent-reviews-container {
    width: 60%;
}

.trending-poutine-container {
    border: 1px solid red;
    width: 30%;
}


@media screen and (max-width: 790px) {
    .recent-page-container {
        flex-direction: column;
        align-items: center;
    }

    .trending-poutine-container {
        margin-top: 30px;
        width: 60%;
    }
}
