.store-edit-form {
    padding: 0;
    width: 100%;

}

.store-edit-form .btn-container {
    display: flex;
    justify-content: space-between;
}

.store-edit-form p {
    color: #A33B20;
}

.store-edit-form .btn-container .btn {
    max-width: 45%;
}


.poutine-edit-form {
    padding-top: 0;
    width: 100%;
    box-sizing: border-box;
}

.poutine-edit-form div {
    padding-bottom: 1px;
    width: 100%;
}

.poutine-edit-form form {
    display: flex;
}

.description-input-container {
    height: 100%;
}

.description-input {
    height: 142px;
}

.small-inputs {
    padding-right: 20px;
}

.add-btn {
    margin-bottom: 20px;
}

.delete-btn {
    margin-left: 20px;
}
