.store-edit-form {
    padding: 0;
    width: 100%;

}

.store-edit-form .btn-container {
    display: flex;
    justify-content: space-between;
}

.store-edit-form p {
    color: #A33B20;
}

.store-edit-form .btn-container .btn {
    max-width: 45%;
}
