.profile-container {
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.checkins-container,
.side-container {
    width: 60%;
    max-width: 100%;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.side-container {
    width: 30%;
    max-width: 100%;
}

