.profile-container {
    display: flex;
    max-width: 900px;
    margin: 20px auto;
    padding: 0 30px;
    justify-content: space-between;
}

.checkins-container,
.side-container {
    width: 60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.side-container {
    width: 30%;
}

.store-container {
    width: 100%;
}

@media screen and (max-width: 900px) {
    .profile-container {
        flex-direction: column;
        align-items: center;
    }

    .checkins-container {
        max-width: 90%;
    }
}


@media screen and (max-width: 790px) {
    .checkins-container {
        width: 90%;
    }
}
