/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body {
    font-size: 16px;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* *************** */
/* Default Buttons */
/* *************** */

.btn {
    background-color: transparent;
    border: none;
    border-radius: 2px;
    color: black;
    font-size: .7rem;
    padding: 10px 20px;
    text-decoration: none;
}

.btn:hover {
    cursor: pointer;
}

.btn-primary {
    background-color: #3FA34D;
    color: white;
}

.btn-primary:hover {
    background-color: #317a3b;
}

.btn-alt {
    background-color: #A33B20;
    color: white;
}

.btn-alt:hover {
    background-color: #812f1a;
}

/* *************** */
/*  Default Forms  */
/* *************** */
.form-container {
    padding: 32px 24px;
    width: 200px;
}

.widget-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    width: 100%;
    height: 66px;
}

input {
    width: 100%;
    height: 2.5rem;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 2px;
    box-sizing: border-box;
}

input:focus {
    border: 1px solid lightblue;
    border-radius: 2px;
    outline: none;
}

.errors-container {
    padding-bottom: 10px;
}
